.header-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  z-index: 1000;
}

.logo {
  height: 35px;
  margin: 0px 5px;
}

.icon , .profile-picture{
  width: 35px;
  height: 35px;
  margin: 0px 5px;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  padding: 10px 10px;
  margin: 0px 5px;
}

.selected {
  background-color: #000000;
  color: #ffffff;
  border-radius: 30px;
}

.search-container {
  display: flex;
  flex-grow: 1;
}

.search-container input {
  width: 100%;
  padding: 0px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 18px;
  margin: 0px 5px;
}

.login-button {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 30px;
  margin: 0px 5px;
}